@page "/track/add"
@inherits TrackAddBase

@using TrackId.Business

<h3>Component1</h3>

<label for="title">Title</label>
<input type="text" id="title" @bind-value="trackDto.Title" />

<Autocomplete TItem=" TrackId.Business.Dto.ArtistDto"
              TValue="string"
              Data="@Artists"
              ReadData="@SearchArtists"
              TextField="@(( item ) => item.Name)"
              ValueField="@(( item ) => item.CountryCode)"
              @bind-SelectedValue="@selectedSearchValue"
              @bind-SelectedText="selectedAutoCompleteText"
              Placeholder="Search..."
              FreeTyping>
    <NotFoundContent> Sorry... @context was not found! :( </NotFoundContent>
</Autocomplete>

<Field Horizontal>
    <FieldBody ColumnSize="ColumnSize.Is12">
        Selected search value: @selectedSearchValue
    </FieldBody>
    <FieldBody ColumnSize="ColumnSize.Is12">
        Selected text value: @selectedAutoCompleteText
    </FieldBody>
</Field>